In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
bikes_Q2_april = pd.read_csv("https://stepik.org/media/attachments/lesson/367415/bikes_q2_sample_apr.csv")
bikes_Q2_may = pd.read_csv("https://stepik.org/media/attachments/lesson/367415/bikes_q2_sample_may.csv")
bikes_Q2_june = pd.read_csv("https://stepik.org/media/attachments/lesson/367415/bikes_q2_sample_jun.csv")
bikes_Q3_july = pd.read_csv("https://stepik.org/media/attachments/lesson/367415/bikes_q3_sample_july.csv")
bikes_Q3_august = pd.read_csv("https://stepik.org/media/attachments/lesson/367415/bikes_q3_sample_aug.csv")
bikes_Q3_september = pd.read_csv("https://stepik.org/media/attachments/lesson/367415/bikes_q3_sample_sep.csv")
bikes_Q4_october = pd.read_csv("https://stepik.org/media/attachments/lesson/367415/bikes_q4_sample_oct.csv")
bikes_Q4_november = pd.read_csv("https://stepik.org/media/attachments/lesson/367415/bikes_q4_sample_nov.csv")
bikes_Q4_december = pd.read_csv("https://stepik.org/media/attachments/lesson/367415/bikes_q4_sample_dec.csv")
bikes = [bikes_Q2_april,bikes_Q2_may,bikes_Q2_june,bikes_Q3_july,bikes_Q3_august,bikes_Q3_september,bikes_Q4_october,bikes_Q4_november,bikes_Q4_december]

In [4]:
for i in bikes:
    i[["start_time","end_time"]] = i[["start_time","end_time"]].apply(pd.to_datetime)
    i.set_index("start_time",inplace=True)
bikes = pd.concat(bikes)

In [5]:
customers_vs_subscribers = bikes.groupby("usertype").trip_id.resample("1d").count().unstack(level = "usertype")

In [6]:
more_customers = (customers_vs_subscribers.Customer > customers_vs_subscribers.Subscriber).to_frame(name="more_customers")

In [7]:
more_customers[more_customers.more_customers==True]

            more_customers
start_time
2018-05-27            True
2018-09-02            True

In [8]:
bikes_summer = bikes.loc["2018-06-01":"2018-08-31"]
bikes_summer

,trip_id,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
start_time,,,,,,,,,,,
2018-06-01 00:04:40,18709077,2018-06-01 00:06:47,3155,127.0,128,Damen Ave & Chicago Ave,214,Damen Ave & Grand Ave,Subscriber,Female,1978.0
2018-06-01 00:06:08,18709080,2018-06-01 00:24:18,2807,"1,090.0",258,Logan Blvd & Elston Ave,69,Damen Ave & Pierce Ave,Customer,NaN,NaN
2018-06-01 00:08:01,18709086,2018-06-01 00:32:55,2737,"1,494.0",337,Clark St & Chicago Ave,225,Halsted St & Dickens Ave,Customer,Male,1988.0
2018-06-01 00:09:02,18709091,2018-06-01 00:19:21,6089,619.0,210,Ashland Ave & Division St,56,Desplaines St & Kinzie St,Subscriber,Male,1987.0
2018-06-01 00:09:28,18709092,2018-06-01 00:14:44,2352,316.0,240,Sheridan Rd & Irving Park Rd,303,Broadway & Cornelia Ave,Subscriber,Male,1997.0
...,...,...,...,...,...,...,...,...,...,...,...
2018-08-31 23:49:34,20479557,2018-08-31 23:56:20,4289,406.0,374,Western Ave & Walton St,69,Damen Ave & Pierce Ave,Subscriber,Male,1987.0
2018-08-31 23:49:56,20479559,2018-09-01 00:30:37,6337,"2,441.0",497,Kimball Ave & Belmont Ave,599,Valli Produce - Evanston Plaza,Subscriber,Male,1989.0
2018-08-31 23:50:01,20479560,2018-08-31 23:58:00,1429,479.0,113,Bissell St & Armitage Ave,16,Paulina Ave & North Ave,Subscriber,Male,1987.0
2018-08-31 23:54:44,20479564,2018-09-01 00:06:10,6204,686.0,623,Michigan Ave & 8th St,99,Lake Shore Dr & Ohio St,Subscriber,Male,1985.0
2018-08-31 23:57:44,20479571,2018-09-01 00:11:35,4357,831.0,297,Paulina St & Montrose Ave,294,Broadway & Berwyn Ave,Subscriber,Female,1995.0

In [9]:
top_destination = bikes_summer.to_station_name.value_counts().idxmax()
top_destination

'Streeter Dr & Grand Ave'

In [10]:
destinations_by_day = bikes_summer.groupby("to_station_name").trip_id.resample("1d")\
                                    .count().unstack(level="to_station_name").fillna(0)

In [11]:
bad_day = destinations_by_day[top_destination].idxmin().strftime('%Y-%m-%d')

In [12]:
bikes_summer["day"] = bikes_summer.index.day_name()

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
bikes_summer.day.unique()
day_off = ['Saturday', 'Sunday']
business_day = ['Friday','Monday', 'Tuesday', 'Wednesday',
       'Thursday']

In [52]:
bikes_summer["bd_or_df"] = np.where(bikes_summer.day.isin(business_day),1,0)

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [58]:
top_destination_dayoff = bikes_summer[bikes_summer.bd_or_df == 0].to_station_name.value_counts().idxmax()
top_destination_dayoff_bd = bikes_summer[bikes_summer.bd_or_df == 1].to_station_name.value_counts().idxmax()

In [62]:
bikes_summer[bikes_summer.day=="Saturday"].to_station_name.value_counts()

Streeter Dr & Grand Ave                 3461
Lake Shore Dr & North Blvd              1690
Theater on the Lake                     1470
Lake Shore Dr & Monroe St               1232
Millennium Park                         1080
                                        ...
Damen Ave & 51st St                        1
Stony Island Ave & 82nd St                 1
Seeley Ave & Garfield Blvd                 1
DIVVY CASSETTE REPAIR MOBILE STATION       1
Ellis Ave & 83rd St                        1
Name: to_station_name, Length: 557, dtype: int64